<!-- {% extends "base.html" %}

{% block content %}
<section>
    <table class="table table-striped table-hover">
        <tr>
            <th>#</th>
            <th>Nama</th>
            <th>Action</th>
        </tr>
        {% for i in isi %}
        <tr>
            <td>{{i.id}}</td>
            <td>Klepon</td>
            <td>
                <a class="btn btn-primary" href="#" role="button">View</a> 
                <a class="btn btn-warning" href="#" role="button">Edit</a> 
                <a class="btn btn-danger" href="#" role="button">Delete</a> 
            </td>
        </tr>
        {% endfor%}
    </table>
</section>
{% endblock %} -->