{% extends "base.html" %}

{% block content %}

<section>
    <form action="" class="mt-3" method="post">
        {% csrf_token %}
        <div class="ms-3 mb-3">
            <label for="" class="form-label">Pilihan:</label>
            <select name="jenis" id="">
                <option value="Kering">Kering</option>
                <option value="Basah">Basah</option>
            </select>
        </div>
        <div class="ms-3 mb-3">
            <label for="">Nama:</label>
            <input type="text" name="nama" id="">
        </div>
        <div class="ms-3 mb-3">
            <label for="">Harga:</label>
            <input type="text" name="harga" id="">
        </div>
        <button type="submit" class="btn btn-primary ms-3">Submit</button>
    </form>
</section>

{% endblock %}