{% extends "base.html" %}

{% block content %}

<section>
    <form action="" class="mt-3 mx-lg-5" method="post">
        {% csrf_token %}
        <div class="ms-3 mb-3">
            <label for="" class="form-label">Pilihan:</label>
            <select name="jenis" class="text-muted form-select">
                <option value="{{detail_edit.jenis}}">Kering</option>
                <option value="{{detail_edit.jenis}}">Basah</option>
            </select>
        </div>
        <div class="ms-3 mb-3">
            <label for="">Nama:</label>
            <input type="text" name="nama" class="text-muted form-control" value="{{detail_edit.nama}}">
        </div>
        <div class="ms-3 mb-3">
            <label for="">Harga:</label>
            <input type="text" name="harga" class="text-muted form-control" value="{{detail_edit.harga}}">
        </div>
        <div class="ms-3 mb-3 ms-3 mb-3 d-grid gap-2">
            <button type="submit" class="btn btn-warning">Simpan</button>
        </div>
        
    </form>
</section>

{% endblock %}